body {
  background-color: #4b7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px; }

a {
  color: blue; }
  a img {
    border: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#container {
  width: 75%;
  margin: 0 auto;
  background: white;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px; }

#flash_notice,
#flash_error {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66; }

#flash_error {
  background-color: #ffcccc;
  border: solid 1px #cc6666; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #cc0000;
    color: white; }
  #errorExplanation p {
    color: #333333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }

.CodeRay {
  background-color: #232323;
  border: 1px solid black;
  font-family: "Courier New", "Terminal", monospace;
  color: #e6e0db;
  padding: 3px 5px;
  overflow: auto;
  font-size: 12px;
  margin: 12px 0; }
  .CodeRay pre {
    margin: 0px;
    padding: 0px; }
  .CodeRay .an {
    color: #e7be69; }
  .CodeRay .c {
    color: #bc9358;
    font-style: italic; }
  .CodeRay .ch {
    color: #509e4f; }
  .CodeRay .cl {
    color: white; }
  .CodeRay .co {
    color: white; }
  .CodeRay .fl {
    color: #a4c260; }
  .CodeRay .fu {
    color: #ffc56d; }
  .CodeRay .gv {
    color: #d0cffe; }
  .CodeRay .i {
    color: #a4c260; }
  .CodeRay .il {
    background: #151515; }
  .CodeRay .iv {
    color: #d0cffe; }
  .CodeRay .pp {
    color: #e7be69; }
  .CodeRay .r {
    color: #cb7832; }
  .CodeRay .rx {
    color: #a4c260; }
  .CodeRay .s {
    color: #a4c260; }
  .CodeRay .sy {
    color: #6c9cbd; }
  .CodeRay .ta {
    color: #e7be69; }
  .CodeRay .pc {
    color: #6c9cbd; }
