- title "Welcome"

%p 
  <strong>Activity Streams Workshop</strong> is a place to play and test with the 
  %a{:href => 'http://activitystrea.ms'} Activity Streams 
  format.
  
%p It's a simple, hands-on, safe, free way to get acquainted with Activity Streams. 

%p Its creation was fueled by necessity and inspired by sites like <a href="http://pastebin.org" title="Pastebin">pastebin</a>, <a href="http://pastie.org" title="Pastie">pastie</a>, <a href="http://hurl.it" title="Hurl">hurl</a> or <a href="http://codepad.org" title="Codepad">codepad</a>.

%h2 Features

%ul
  %li <a href="/activities" title="Browse Activities">Browse</a> valid Activity Streams examples
  %li <a href="/activities/new" title="Create a new activity">Create</a> your own test Activity Streams with a simple form
  %li Consult, edit and share the JSON and Atom outputs
  %li Save your Activities (requires authentication with an Identity Provider such as OpenID, Google, Facebook, Twitter, etc.)
  %li (later) Post your activities to available Activity Streams APIs
  

%h2 Free Software

Activity Streams Workshop is built with <a href="http://rubyonrails.org" title="Ruby on Rails">Ruby on Rails</a> and you can <a href="http://github.com/webcracy/activity_streams-workshop" title="Activity Streams Workshop on Github">fork it on Github</a>.