-title "Privacy Policy"

%h3 Data we collect

%p Depending on the Identity Provider you use to login, we store <strong>either</strong> your email, your name or your username, as provided by the service.

%h3 What we do with it

%p We don't sell it, we don't use it to contact you, we don't give it to third parties. We only use it for authentication purposes and it is stored safely in our database.

%h3 Questions and concerns

%p You can write an email to <em><code>alex_at_webcracy.org</code></em> with your questions or concerns.