- title "Activities"

%p.manage.x-l-margin= link_to "New Activity", new_activity_path, :class => 'new'

%h3 Example Activities

%ul#activities
  - for activity in @public_activities
    %li
      = render :partial => 'activity', :locals => {:activity => activity}
  
%h3 Your Activities

%ul#activities
  - unless logged_in?
    %p You can <a href="/login" title="Login">login</a> using an external Identity Provider to <strong>save your activities</strong>.
  - else
    - for activity in @activities
      %li
        = render :partial => 'activity', :locals => {:activity => activity}



