- title "Activities"

%p.manage.x-l-margin= link_to "New Activity", new_activity_path, :class => 'new'

%h3 Example Activities

%ul#activities
  - for activity in @public_activities
    %li
      = render :partial => 'activity', :locals => {:activity => activity}
  
%h3 Your Activities

%ul#activities
  - unless logged_in?
    %p
      You can #{link_to 'Login', login_path} using an external Identity Provider to <strong>save</strong> your activities
    
  - else
    - for activity in @activities
      %li
        = render :partial => 'activity', :locals => {:activity => activity}



