- title "Activities"

%ul#activities
  - for activity in @activities
    %li
      = render :partial => 'activity', :locals => {:activity => activity}
      %br
      
  

%p= link_to "New Activity", new_activity_path
