- title "Activity"
-if logged_in? and  @activity.user_id == current_user.id
  %p.manage
    = link_to "Permalink", permalink_path(@activity.permalink), :class => 'link'
    |
    = link_to "Edit", edit_activity_path(@activity), :class => 'edit'
    |
    = link_to "Destroy", @activity, :confirm => 'Are you sure?', :class => 'delete', :method => :delete
    |
    = link_to "Create another", new_activity_path, :class => 'new'

#activity
  =render :partial => 'activity', :locals => {:activity => @activity}
  

%h3 JSON
~ CodeRay.scan(@activity.to_json, 'json').div(:line_numbers => :table, :css => :class)

%h3 XML
~ CodeRay.scan(@activity.to_xml, 'xml').div(:line_numbers => :table, :css => :class)

