- title "Activity"

%p
  %strong Url:
  =h @activity.url_id
%p
  %strong Published At:
  =h @activity.published_at
%p
  %strong Verb:
  =h @activity.verb
%p
  %strong Title:
  =h @activity.title
%p
  %strong Body:
  =h @activity.body
%p
  %strong Lang:
  =h @activity.lang

%p
  = link_to "Edit", edit_activity_path(@activity)
  |
  = link_to "Destroy", @activity, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", activities_path
